body {
    font-family: 'Droid Sans Mono';
    color: #000000;
    font-size: 10pt;
    background-color: #D4D1C9;
}

a {
    color: #FA00AB;
}

a:hover {
    color: #ffffff;
}

h1 {
    margin: 0;
    font-family: 'Droid Sans Mono';
    color: #ffffff;
    font-size: 30pt;
    text-align: center;
    background-color: #9E9B91;
    padding: 25px;
}

h2 {
    margin: 0;
    font-family: 'Droid Sans Mono';
    color: #ffffff;
    background-color: #9E9B91;
    font-size: 12pt;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.tooltipDead {
    font-family: 'Droid Sans Mono';
    position: absolute;
    text-align: center;
    max-width: 500px;
    padding: 2px;
    font-size: 14px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

.tooltipAlive {
    font-family: 'Droid Sans Mono';
    position: absolute;
    text-align: center;
    max-width: 500px;
    padding: 2px;
    font-size: 14px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

footer {
    text-align: center;
}
